* {
  margin: 0;
  padding: 0;
}
.main {
  display: flex;
  padding: 40px 150px;
  max-width: 1200px;
  align-items: center;
  justify-items: center;
  flex-wrap: wrap;
  gap: 25px;
}
h1 {
  margin-bottom: 20px;
}
.card {
  padding-left: 10px;
  padding-right: 30px;
  justify-items: center;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1300px;
  text-align: center;
  border-right: 2px solid black;
}
.image {
  height: 100px;
  width: 200px;
}
.heading {
  margin-top: 40px;
  margin-left: 200px;
}
.card4,
.card8 {
  text-align: center;
  justify-items: center;
  align-items: center;
  border: 0px;
}
